.grid {
    &-layout {
        display: grid;
        grid-template-columns: repeat (12, 1fr);
    }
}

body {
    display:grid;
    grid-gap: 1em;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-columns: 12;
    margin-left: 10%;
}


nav,
#menu-checkbox {
    display:none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
    color: black;
    padding: 10px;
    font-size: 1.5rem;

}

nav {
    position: absolute;
    background: green; 
    left: 0px;
}

nav a {
    display: block;
    color: #fff;
    padding: 30px 20px;
}

@media (max-width: 600px) {
    nav {
        display: block;
    }
}

.hamburger-icon {
    display: none;
}

/* from test page */



body {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto 1fr auto;
    max-width: 100%;
    background-color: #F9F8F8;
    border:10px solid #F9F8F8;
    min-height: 100vh;
    padding: 3%;
    
 
 
 header {
     display:flex;
     flex-direction: column;
 }
 
 .logo-mobile {
     max-width: 40px;
 }
 
     
     
     
 }
 
 @media only screen and (max-width: 600px) {
     body {
         width: 90%;
      display: grid;
      grid-template-areas: 
         'header'
         'main'
         'footer'
         ;
     
    }
 }